@model List<EShop.Models.Category>
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<section>
    <h1>List of categories</h1>
    <ul>
    @foreach (var category in Model) { 
        
        <li>
            @category.Name
        </li>
        
    }
    </ul>
</section>